<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template is working</title>
</head>
<body>
<h1>Write your Blogs!!</h1>
<form action="/loda" method="get">
    <textarea name='text'  style="margin: 0px; width: 784px; height: 106px;"></textarea></br>
   <input type="checkbox" name="punct">Remove punctuataion
   <input type="checkbox" name="caps">capitalize
    <input type="checkbox" name="spaceremove">space removed
     <input type="checkbox" name="charcount">character counter
    </br> <button type="submit"> analyze</button>


</form>
</body>
</html>